[Desktop Entry]
Type=Application
Version=1.0
Name=powwow
GenericName=powwow
Exec=powwow
Icon=/usr/share/icons/hicolor/256x256/apps/powwow.png
Terminal=true
Categories=Telnet;Mud;ConsoleOnly;
Keywords=telnet;mud
